.page-header {
    background-color: #007BFF; /* modrá barva místo oranžové */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, 
.page-header h1 a, 
.page-header h1 a:visited, 
.page-header h1 a:active {
    color: #ffffff;
    font-family: 'Arial', sans-serif; /* změna fontu z Lobster na Arial */
    text-decoration: none;
    font-size: 36pt;
}

.content {
    margin-left: 40px;
}

h2 a, h2 a:visited {
    color: #007BFF; /* odkazy u nadpisů také modré */
}

.post {
    margin-bottom: 70px;
}

.post h2 a {
    font-family: 'Arial', sans-serif; /* font pro nadpisy příspěvků */
    font-size: 30pt;
}

.date {
    color: #828282;
}